@import url('https://fonts.googleapis.com/css2?family=Turret+Road:wght@800&display=swap');

h1, h2, h3, p {
  font-family: 'Montserrat', sans-serif !important;
}


.header-div {
  background-color: black;
}

.header-title {
  color: #ffc94d;
  font-size: 2em;
  font-weight: bolder;
  font-style: italic;
  font-family: 'Turret Road', cursive;
}

nb-layout-header {
  box-shadow: 0 1px 9px 0 #ffc94d;
}

nb-layout-column {
  background-color: white;
}
