h2 {
  font-family: 'Montserrat', sans-serif;
  color: #ffc94d;
  margin-bottom: 10px;
}

.col {
  max-width: 342px;
}

nb-card {
  background: transparent;
  border: none;
  height: 25rem !important;
  cursor: pointer;
  transition: 300ms;
}
nb-card:hover {
  transition: 300ms ease-in-out;
  transform: scale(1.1);
}
nb-card:hover img {
  border: 1px solid #db8b00;
  transition: 300ms ease-in-out;
  box-shadow: none;
}
nb-card:hover h4, nb-card:hover p {
  color: #db8b00;
  transition: 300ms ease-in-out;
}
nb-card img {
  border: 1px solid #ffcd57;
  transition: 300ms;
  box-shadow: 2px 1px 3px 0 #ffc94d73;
}

nb-card h4, nb-card p {
  color: #ffc94d;
  margin: 2px;
  font-family: 'Turret Road', cursive;
  transition: 300ms;
}

.page-link {
  color: #db8b00;
  border: 1px solid #ffc94d;
}
.page-link:hover {
  color: white;
  background-color: #db8b00;
  border: 1px solid #ffc94d;
}

.active .page-link {
  background-color: #ffc94d;
  color: white;
  border-color: #ffc94d;
}
